.divMoviesList{
  position: relative;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.6);

  span{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 10px solid var(--primary-blue);
    border-top: 10px solid var(--primary-blue-dark);
    display: block;
    animation: loadingAnimate 1s infinite;
  }

  @keyframes loadingAnimate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
}

.listMovies{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  li{
    max-width: calc((100% / 6) - 27px);
    width: 100%;

    img{
      border: 1px solid var(--text-neutral-gray-200);
      border-radius: 2px;
      width: 100%;
      height: 264px;
      object-fit: cover;
    }

    h5{
      color: vr(--text-black);
      font-size: 1rem;
      font-weight: 700;
      margin-top: 8px;
    }

    span{
      color: var(--text-gray);
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
}